/* Our styles */
@font-face {
    font-family: 'Inter';
    src: url("Inter.otf");
}

:root {
    /* define variables here */
    --button-color: rgb(29, 191, 115);
    --button-color: #3185fc;
    --background-1: #fff;
    --background-2: #d2d5dd;
    --background-3: #fbfbfd;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    height: 2500px;
    display: grid;
    grid-template-rows: 1fr 6fr 6fr 6fr 4fr 2fr;
}

.container>* {
    /* Direct descendents */
    text-align: center;
}

.italic {
    font-style: italic;
}

/* Part 1 styles */

.part-1 {
    display: flex;
    z-index: 100;
    position: fixed;
    background-color: var(--background-1);
    width: 100%;
    height: 10%;
}

#logo h1 {
    color: var(--button-color);
    font-weight: 900;
    font-size: 2.5em;
    letter-spacing: -0.035em;
    padding-left: 5.5em;
    margin-top: 0.9em;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#logo {
    justify-self: start;
    align-self: center;
}

.search-bar-package {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.search-form {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.search-form input {
    border-radius: 4px 0 0 4px;
    font-size: 20px;
    height: 53px;
    border-right: 0;
    padding: 7px 7px 7px 25px;
    box-shadow: none;
    border: 1px solid #c5c6c9;
    box-sizing: border-box;
    color: #404145;
    width: 100%;
    margin: 1.5em 0 0 2em;
    background: url(https://i.imgur.com/lrQiTER.png) no-repeat 1%;
    background-size: 18px;
    background-color: var(--background-1);
}

.search-form button {
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    height: 53px;
    padding: 12px 24px;
    font-weight: 700;
    flex-shrink: 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--button-color);
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    border: 1px solid transparent;
    margin: 1.9em 0 0 0;
}

.search-form button:hover {
    background-color: var(--background-1);
    transition: 0.1s;
}

.menu {
    align-self: center;
    margin-left: 35em;
    width: 20%;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 2px 10px;
}

.menu li {
    padding: 0 10px;
    margin: 0;
    color: #62646a;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    font-family: sans-serif;
    cursor: pointer;
}

.menu li:hover {
    color: #3f424d;
    transition: 0.1s;
}

#join {
    padding: 0 10px;
    margin: 0;
    outline: 0;
    font-weight: 700;
    border: 1px gray solid;
    padding: 7px 20px;
    font-size: 20px;
    border-radius: 4px;
    box-sizing: border-box;
}

#join:hover {
    background-color: var(--background-1);
    transition: 0.1s;
}

/* Part 1 styles */

/* Part 2 styles */

.part-2 {
    grid-row: 2/3;
    display: flex;
    gap: 16px;
    padding: 0;
    justify-content: center;
    background-color: var(--background-3);
}

.part-2>* {
    align-self: center;
}

.main-tagline {
    width: 40%;
    color: #000;
    font-size: 70px;
    height: 145px;
    line-height: 75px;
    font-weight: 710;
    font-family: 'Inter', sans-serif;
    justify-content: start;
    text-align: left;
    letter-spacing: -0.2rem;
    word-spacing: -0.5rem;
}



.main-tagline i {
    font-weight: 600;
    color: var(--button-color);
}


.human {
    /* Restyle height and width for responsive sizing */
    height: 600px;
    width: auto;
    margin: 0;
    padding: 0;
}

/* Part 2 styles */

/* Part 3 styles */

.part-3 {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 16px;
    background-color: var(--background-1);
}

.part-3 .title {
    align-self: center;
    width: min(90vw, 1500px);
    text-align: left;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.part-3 .card-container {
    width: min(90vw, 1500px);
    align-self: center;
}

.part-3 .card {
    padding: 16px;
}

.part-3 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


/* Part 3 styles */

/* Part 4 styles */

.part-4 {
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-1);
}

.part-4>.box {
    height: max(80%, 200px);
    width: min(90vw, 1500px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

.part-4-left {
    grid-column: 1/2;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 16px;
}

.part-4-left .tagline {
    font-size: 32px;
    text-align: left;
    font-weight: 700;
    letter-spacing: -0.035em;
}

.part-4-left .reason-list ul {
    list-style-type: none;
    text-align: left;
}

.reason-list ul li {
    display: flex;
    gap: 8px;
    font-size: 18px;
    line-height: normal;
    margin: 12px;
    color: rgb(118, 118, 122);
}

.part-4-left .reason-list .check-icon {
    width: 24px;
    height: 24px;
    fill: rgb(122, 125, 133);
}

.part-4-left .button {
    color: #000;
    font-size: 18px;
    background-color: var(--background-1);
    width: fit-content;
    padding: 12px 28px;
    border-radius: 5px;
}

.part-4-right {
    grid-column: 2/3;
    display: flex;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.part-4-right img {
    /* Restyle height and width for responsive sizing */
    width: min(70vw, 500px);
    height: auto;
    border-radius: 5px;
}

/* Part 4 styles */

/* Part 5 styles */

.part-5 {
    grid-row: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-2);
}

.part-5 .box {
    position: relative;
    height: max(80%, 200px);
    width: min(90vw, 1500px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    /*background-color: var(--background-1);*/
    color: #000;
}

.part-5 .box .tagline {
    position: absolute;
    left: 32px;
    top: 64px;
    width: 70%;
    font-size: 48px;
    text-align: left;
    flex-wrap: wrap;
    font-weight: 700;
    letter-spacing: -0.035em;
}

.part-5 .box .button {
    position: absolute;
    left: 32px;
    bottom: 64px;
    text-align: left;
    width: fit-content;
    padding: 12px 28px;
    background-color: var(--button-color);
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
}


/* Part 5 styles */

/* Part 6 styles */

.part-6 {
    grid-row: 6/7;
}

/* Part 6 styles */

@media only screen and (max-width: 900px) {
    .container {
        height: 4000px;
        grid-template-rows: 1fr 6fr 6fr 6fr 3fr 2fr;
    }

    .part-4>.box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .part-4 img {
        width: 500px;
    }
}